.main {
    display: flex;
    flex-wrap:wrap;
    border: none;
    max-height: fit-content;
    justify-content: space-evenly;
}

.section1 {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    margin-top: 40px;
    
}

.headline {
    display: block;
    background-color: #6C757D;
    margin: 50px;
    margin-bottom: 40px;
    width: 1200px;
    height: 300px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 3px 6px 5px #212529;

}

.headline h1 {
    text-shadow: 3px 3px 5px #212529;
}

.headline h2 {
    color: white;
    text-shadow: 3px 3px 5px #212529;
}

.headline h3 {
    color: white;
    text-shadow: 3px 3px 5px #212529;
}

.product {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.desc {
    border: none;
    width: 30%;
    height: 70px;
    text-align: center;
    margin-left: 30px;
    background-color: #02010a1a;
    padding: 7px;
    border-radius: 15px;
    box-shadow: 3px 2px 3px;
    font-size: larger;
    transition: 0.3s;
    overflow: hidden;
    
}

.desc:hover {
    background-color: #212529;
    color: white;
    height: 160px;
}

/* .review {
    width: 300px;
    margin-left: auto;

} */

.section3 {
      /* border: 3px solid rebeccapurple;   */
      margin-inline-end: 10px;
      width: 675px;
}

.prd {
    display: inline-flex;
    /* flex-wrap: wrap; */
    border: none;
    width: 70%;
    /* margin: 2px; */
    /* background-color:;
    box-shadow: #312f36 10px 5px 3px; */
}

body {
    color: black;
    background-color: #DEE2E6;
}

.image {
    box-shadow: 4px 6px 5px;
    width: 240px; height: auto;
    transition: 0.3s;
}

.image:hover {
    width: 360px; height: auto;
}


.blog_img {
    width: 100%;

}

.blog {
    margin: 20px;
    /* border: 3px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CED4DA ;
}

.blog h3 {
    font-size: xx-large;
    text-align: center;
}

.b_desc {
    background-color: #CED4DA;
}

.blog button {
    background-color: #CED4DA;
}

.b_desc:hover {
    background-color: orangered;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: flex-start space-evenly;
    flex-wrap: wrap;
    /* border: 3px solid green; */
    width: 100%;
}
