.main {
    display: flex;
    flex-wrap:wrap;
    border: none;
    max-height: fit-content;
    justify-content: space-evenly;
}

.section1 {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    
}

.headline {
    display: block;
    border: 3px Solid green;
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
    justify-content: space-between;
}

.product {
    display: flex;
    list-style-type: none;
}

.desc {
    display: ;
    border: none;
    width: 60%;
    justify-content: center;
    margin-left: 50px;
    background-color: #02010a96;
    padding: 7px;
}

/* .review {
    width: 300px;
    margin-left: auto;

} */

.section3 {
      border: 3px solid rebeccapurple;  
      margin-inline-end: 10px;
      width: 300px;
}

.prd {
    display: inline-flex;
    /* flex-wrap: wrap; */
    border: none;
    width: 70%;
    /* margin: 2px; */
    background-color:#04052E;
    box-shadow: #312f36 10px 5px 3px;
}

body {
    color: aliceblue;
    background-color: #19181d;
}